# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

version: 2

updates:
  - package-ecosystem: github-actions
    directory: /
    open-pull-requests-limit: 0
    schedule:
      interval: monthly
    labels:
      - dependencies

  - package-ecosystem: npm
    directory: /
    open-pull-requests-limit: 0
    schedule:
      interval: monthly
    labels:
      - dependencies
