# Copyright (c) Microsoft Corporation. All rights reserved.

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

[*.{copyproj,json,proj}]
indent_size = 2
