# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

[*.{copyproj,json,proj,yml}]
indent_size = 2
