# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

---
name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  merge_group:
    types:
      - checks_requested
  schedule:
    - cron: 0 9 * * 1
  workflow_dispatch: null

permissions: {}

jobs:
  update-code:
    name: Update Code
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - if: ${{ github.actor != 'dependabot[bot]' }}
        name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.PR_METRICS_TOKEN }}

      - if: ${{ github.actor == 'dependabot[bot]' }}
        name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 20.17.0

      - name: npm – Install Dependencies
        run: npm ci

      - name: npm – Lint
        run: npm run lint

      - name: npm – Build Package
        run: npm run build:package

      - name: Git – Add Changed Files
        run: git add -A

      - name: Detect Changes
        id: detect-changes
        shell: pwsh
        run: |-
          $GitStatus = git status
          Write-Output -InputObject $GitStatus
          $NoChangesPresent = $GitStatus.Contains("nothing to commit, working tree clean")
          Write-Output -InputObject $NoChangesPresent
          Write-Output -InputObject "NO_CHANGES_PRESENT=$NoChangesPresent" >> $Env:GITHUB_OUTPUT

      - if: ${{ github.actor != 'dependabot[bot]' && steps.detect-changes.outputs.NO_CHANGES_PRESENT == 'False' }}
        name: Git – Commit & Push (Signed)
        uses: grafana/github-api-commit-action@cb4e7799d2cd77d607acf280ed70a0d03572d8bd # v1.0.0
        with:
          commit-message: "chore: fix linting, update dist folder"
          create-branch-on-remote: true
          stage-all-files: true
          token: ${{ secrets.PR_METRICS_TOKEN }}

      - if: ${{ github.actor == 'dependabot[bot]' && steps.detect-changes.outputs.NO_CHANGES_PRESENT == 'False' }}
        name: Request Manual Updates
        shell: pwsh
        run: |-
          Write-Output -InputObject "::error::Code changes detected in the PR. Please update the PR using 'npm run lint && npm run build:package' to include the latest changes."
          exit 1

  build:
    name: Build
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 20.17.0

      - name: npm – Install Dependencies
        run: npm ci

      - name: npm – Test Clean
        run: npm run clean

      - name: npm – Build
        run: npm run build

      - name: npm – Test
        run: npm run test

      - name: Release – Create
        run: npx tfx-cli extension create --manifest-globs vss-extension.json --output-path ../ms-omex.PRMetrics.vsix
        working-directory: ${{ github.workspace }}/release

      - name: Release – Upload
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: PRMetrics
          path: ${{ github.workspace }}/ms-omex.PRMetrics.vsix

  test-github-action:
    name: Test GitHub Action
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      statuses: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: PR Metrics
        uses: ./
        env:
          PR_METRICS_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file-matching-patterns: |
            **/*
            !dist/*
            !package-lock.json

  validate:
    name: Validate
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Validate Markdown Links (Attempt 1)
        id: linkspector-1
        continue-on-error: true
        uses: umbrelladocs/action-linkspector@874d01cae9fd488e3077b08952093235bd626977 # 1.3.7
        with:
          config_file: .github/linters/.linkspector.yml

      - name: Validate Markdown Links (Attempt 2)
        id: linkspector-2
        if: steps.linkspector-1.outcome == 'failure'
        continue-on-error: true
        uses: umbrelladocs/action-linkspector@874d01cae9fd488e3077b08952093235bd626977 # 1.3.7
        with:
          config_file: .github/linters/.linkspector.yml

      - name: Validate Markdown Links (Attempt 3)
        id: linkspector-3
        if: steps.linkspector-2.outcome == 'failure'
        uses: umbrelladocs/action-linkspector@874d01cae9fd488e3077b08952093235bd626977 # 1.3.7
        with:
          config_file: .github/linters/.linkspector.yml

      - name: Initialize
        uses: github/codeql-action/init@e296a935590eb16afc0c0108289f68c87e2a89a5 # v3.29.5
        with:
          build-mode: none
          config-file: .github/linters/codeql.yml
          languages: javascript-typescript
          queries: security-extended,security-and-quality

      - name: Analyze
        uses: github/codeql-action/analyze@e296a935590eb16afc0c0108289f68c87e2a89a5 # v3.29.5
        with:
          category: TypeScript

  validate-linter:
    name: Validate – Linter
    runs-on: ubuntu-latest
    permissions:
      contents: write
      statuses: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Super-Linter
        uses: github/super-linter@b807e99ddd37e444d189cfd2c2ca1274d8ae8ef1 # v7
        env:
          EDITORCONFIG_FILE_NAME: ../../.editorconfig
          ENABLE_GITHUB_ACTIONS_STEP_SUMMARY: false
          FILTER_REGEX_EXCLUDE: .*dist/.*
          FIX_JSON_PRETTIER: true
          FIX_MARKDOWN_PRETTIER: true
          FIX_MARKDOWN: true
          FIX_NATURAL_LANGUAGE: true
          FIX_TYPESCRIPT_PRETTIER: true
          FIX_YAML_PRETTIER: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_CONFIG_FILE: gitleaks.toml
          MARKDOWN_CONFIG_FILE: ../../.markdownlint.json
          SAVE_SUPER_LINTER_SUMMARY: false
          VALIDATE_JSON: false
          VALIDATE_TYPESCRIPT_ES: false
          VALIDATE_TYPESCRIPT_STANDARD: false

      - if: github.ref_name != 'main'
        name: Delete Unwanted Files
        run: sudo rm -rf github_conf/branch_protection_rules.json

      - if: github.ref_name != 'main'
        name: Detect Changes
        id: detect-changes
        shell: pwsh
        run: |
          $GitStatus = git status
          Write-Output -InputObject $GitStatus
          $ChangesPresent = -not $GitStatus.Contains("nothing to commit, working tree clean")
          Write-Output -InputObject "CHANGES_PRESENT=$ChangesPresent" >> $Env:GITHUB_OUTPUT

      # Super-Linter must operate on the commit, but changes must be pushed to
      # the branch. To facilitate this, the changes are stashed, the branch is
      # checked out, and the changes are applied back.
      - if: github.ref_name != 'main' && steps.detect-changes.outputs.CHANGES_PRESENT == 'True'
        name: Git – Stash Changes
        run: git stash --include-untracked || true

      - if: github.ref_name != 'main' && steps.detect-changes.outputs.CHANGES_PRESENT == 'True'
        name: Git – Checkout PR Branch
        run: |
          git fetch origin "$HEAD_REF"
          git checkout "$HEAD_REF"
        env:
          HEAD_REF: ${{ github.event_name == 'pull_request' && github.head_ref || github.ref }}

      - if: github.ref_name != 'main' && steps.detect-changes.outputs.CHANGES_PRESENT == 'True'
        name: Git – Apply Stashed Changes
        run: git stash pop || true

      - if: github.ref_name != 'main' && steps.detect-changes.outputs.CHANGES_PRESENT == 'True'
        name: Git – Add Changed Files
        run: git add -A

      - if: github.ref_name != 'main' && steps.detect-changes.outputs.CHANGES_PRESENT == 'True'
        name: Git – Commit & Push (Signed)
        uses: grafana/github-api-commit-action@cb4e7799d2cd77d607acf280ed70a0d03572d8bd # v1.0.0
        with:
          commit-message: "chore: fix linting"
          create-branch-on-remote: true
          stage-all-files: true
          token: ${{ secrets.PR_METRICS_TOKEN }}

  dependabot:
    if: ${{ github.actor == 'dependabot[bot]' }}
    name: Dependabot
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: gh – Log Version
        run: gh --version

      - name: Enable Auto-Merge
        run: gh pr merge --auto --delete-branch --squash "${{ github.event.pull_request.html_url }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
