# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

---
name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: 0 9 * * 1
  workflow_dispatch: null

permissions: {}

defaults:
  run:
    shell: pwsh

jobs:
  update-code:
    name: Update Code
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Generate GitHub App Token
        id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.event_name == 'pull_request' && github.head_ref || github.ref_name }}
          token: ${{ steps.app-token.outputs.token }}

      - name: Install Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 20.17.0

      - name: npm – Install Dependencies
        run: npm ci

      - name: npm – Lint
        run: npm run lint

      - name: npm – Build Package
        run: npm run build:package

      - if: github.ref_name != 'main'
        name: Git – Add Changed Files
        run: git add -A

      - if: github.ref_name != 'main'
        name: Git – Test for Changes
        id: git-test-for-changes
        run: .github/workflow-scripts/Test-Changes.ps1

      - if: github.ref_name != 'main' && steps.git-test-for-changes.outputs.CHANGES_PRESENT == 'True'
        name: Git – Commit & Push (Signed)
        uses: grafana/github-api-commit-action@cb4e7799d2cd77d607acf280ed70a0d03572d8bd # v1.0.0
        with:
          commit-message: "chore: fix linting, update dist folder"
          create-branch-on-remote: true
          stage-all-files: true
          token: ${{ steps.app-token.outputs.token }}

  build:
    name: Build
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 20.17.0

      - name: npm – Install Dependencies
        run: npm ci

      - name: npm – Clean
        run: npm run clean

      - name: npm – Build
        run: npm run build

      - name: npm – Test
        run: npm run test

      - name: Release – Create
        run: npx tfx-cli extension create --manifest-globs vss-extension.json --output-path ../ms-omex.PRMetrics.vsix
        working-directory: ${{ github.workspace }}/release

      - name: Release – Upload
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: PRMetrics
          path: ${{ github.workspace }}/ms-omex.PRMetrics.vsix

  test-github-action:
    name: Test GitHub Action
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Generate GitHub App Token
        id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: PR Metrics
        uses: ./
        env:
          PR_METRICS_ACCESS_TOKEN: ${{ steps.app-token.outputs.token }}
        with:
          file-matching-patterns: |
            **/*
            !dist/*
            !package-lock.json

  validate:
    name: Validate
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: CodeQL – Initialize
        uses: github/codeql-action/init@e296a935590eb16afc0c0108289f68c87e2a89a5 # v3.29.5
        with:
          build-mode: none
          config-file: .github/linters/codeql.yml
          languages: javascript-typescript
          queries: code-quality,code-scanning,security-and-quality,security-experimental,security-extended

      - name: CodeQL – Analyze
        uses: github/codeql-action/analyze@e296a935590eb16afc0c0108289f68c87e2a89a5 # v3.29.5
        with:
          category: TypeScript

  validate-linter:
    name: Validate – Linter
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Generate GitHub App Token
        id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Super-Linter
        uses: github/super-linter@b807e99ddd37e444d189cfd2c2ca1274d8ae8ef1 # v7
        env:
          EDITORCONFIG_FILE_NAME: ../../.editorconfig
          FILTER_REGEX_EXCLUDE: .*dist/.*
          FIX_JSON_PRETTIER: true
          FIX_MARKDOWN_PRETTIER: true
          FIX_MARKDOWN: true
          FIX_NATURAL_LANGUAGE: true
          FIX_TYPESCRIPT_PRETTIER: true
          FIX_YAML_PRETTIER: true
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          GITLEAKS_CONFIG_FILE: gitleaks.toml
          MARKDOWN_CONFIG_FILE: ../../.markdownlint.json
          # Disable linters that conflict with other linters.
          VALIDATE_JSON: false
          VALIDATE_TYPESCRIPT_ES: false
          VALIDATE_TYPESCRIPT_STANDARD: false

      - if: github.ref_name != 'main'
        name: Git – Test for Changes
        id: git-test-for-changes
        run: .github/workflow-scripts/Test-Changes.ps1

      # Super-Linter must operate on the commit, but changes must be pushed to
      # the branch. To facilitate this, the changes are stashed, the branch is
      # checked out, and the changes are applied back.
      - if: github.ref_name != 'main' && steps.git-test-for-changes.outputs.CHANGES_PRESENT == 'True'
        name: Git – Stash Changes
        run: git stash --include-untracked

      - if: github.ref_name != 'main' && steps.git-test-for-changes.outputs.CHANGES_PRESENT == 'True'
        name: Git – Checkout PR Branch
        run: |-
          git fetch origin $Env:HEAD_REF
          git checkout $Env:HEAD_REF
        env:
          HEAD_REF: ${{ github.event_name == 'pull_request' && github.head_ref || github.ref_name }}

      - if: github.ref_name != 'main' && steps.git-test-for-changes.outputs.CHANGES_PRESENT == 'True'
        name: Git – Apply Stashed Changes
        run: git stash pop

      - if: github.ref_name != 'main' && steps.git-test-for-changes.outputs.CHANGES_PRESENT == 'True'
        name: Git – Add Changed Files
        run: git add -A

      - if: github.ref_name != 'main' && steps.git-test-for-changes.outputs.CHANGES_PRESENT == 'True'
        name: Git – Commit & Push (Signed)
        uses: grafana/github-api-commit-action@cb4e7799d2cd77d607acf280ed70a0d03572d8bd # v1.0.0
        with:
          commit-message: "chore: fix linting"
          create-branch-on-remote: true
          stage-all-files: true
          token: ${{ steps.app-token.outputs.token }}

  dependabot:
    name: Dependabot
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Generate GitHub App Token
        id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: gh – Log Version
        run: gh --version

      - if: github.actor == 'dependabot[bot]'
        name: Enable Auto-Merge
        run: gh pr merge --auto --delete-branch --squash "${{ github.event.pull_request.html_url }}"
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
