# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

---

name: Release

on:
  release:
    types:
      - created
  workflow_dispatch: null

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 19.x

      - name: npm – Install Dependencies
        run: npm install

      - name: npm – Build
        run: npm run build:release

      - name: Install TFX CLI
        run: npm install -g tfx-cli

      - name: Release – Create
        run: tfx extension create --manifest-globs vss-extension.json --output-path ../ms-omex.PRMetrics.vsix
        working-directory: ${{ github.workspace }}/release

      - name: Release – Publish
        uses: actions/upload-artifact@v3
        with:
          name: ms-omex.PRMetrics
          path: ${{ github.workspace }}/ms-omex.PRMetrics.vsix

...
