# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

---
name: Release – Initiate

on:
  workflow_dispatch: null

permissions: {}

# The version below is the upcoming release version, not the current one.
env:
  major: 1
  minor: 7
  patch: 12

defaults:
  run:
    shell: pwsh

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          token: ${{ secrets.PR_METRICS_TOKEN }}

      - name: gh – Log Version
        run: gh --version

      - name: Version Number – Validate
        run: |-
          [int]::Parse(${{ env.major }})
          [int]::Parse(${{ env.minor }})
          [int]::Parse(${{ env.patch }})

      - name: Version Number – Set Environment Variable
        run: >-
          "version=${{ env.major }}.${{ env.minor }}.${{ env.patch }}"
          >> $Env:GITHUB_ENV

      - name: Version Number – Update
        run: >-
          .github/workflow-scripts/Update-Version.ps1
          -Major ${{ env.major }}
          -Minor ${{ env.minor }}
          -Patch ${{ env.patch }}

      - name: License – Truncate LICENSE.txt
        run: .github/workflow-scripts/Update-Licenses.ps1 -Truncate

      - name: Version Number – release-publish-trigger.txt
        run: Set-Content -Path '.github/workflows/support/release-publish-trigger.txt' -Value ${{ env.version }}

      - name: Git – Create Branch
        run: git checkout -b release/v${{ env.version }}

      - name: Git – Add Changed Files
        run: git add -A

      - name: Git – Commit & Push (Signed)
        uses: grafana/github-api-commit-action@cb4e7799d2cd77d607acf280ed70a0d03572d8bd # v1.0.0
        with:
          commit-message: "feat: release v${{ env.version }}"
          create-branch-on-remote: true
          stage-all-files: true
          token: ${{ secrets.PR_METRICS_TOKEN }}

      - name: Git – Sync Local with Remote
        run: |-
          git fetch origin release/v${{ env.version }}
          git reset --hard origin/release/v${{ env.version }}

      - name: PR – Create
        run: >-
          gh pr create
          --title "[Autogenerated] Release v${{ env.version }}"
          --body "Autogenerated release for PR Metrics v${{ env.version }}. This includes version updates, dependency updates, and license preparation."
          --label "release"
        env:
          GITHUB_TOKEN: ${{ secrets.PR_METRICS_TOKEN }}

      - name: Install Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 20.17.0

      - name: npm – Install Dependencies
        run: npm install

      - name: npm – Update Dependencies
        run: npx ncu -u

      - name: npm – Update Transitive Dependencies
        run: npm update

      - name: Git – Commit & Push (Signed)
        uses: grafana/github-api-commit-action@cb4e7799d2cd77d607acf280ed70a0d03572d8bd # v1.0.0
        with:
          commit-message: "chore: update dependencies"
          create-branch-on-remote: true
          stage-all-files: true
          token: ${{ secrets.PR_METRICS_TOKEN }}

      - name: Git – Sync Local with Remote
        run: |-
          git fetch origin release/v${{ env.version }}
          git reset --hard origin/release/v${{ env.version }}
