# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

---
name: Release – Phase 1

on:
  schedule:
    # Run every quarter on the 15th day.
    - cron: 0 9 15 */3 *
  workflow_dispatch: null

permissions: {}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          # Fine-grained Personal Access Token (PAT) with the following permissions for microsoft/PR-Metrics:
          # - Read access to Metadata
          # - Read and Write access to Actions, Code (aka Contents), and Workflows
          token: ${{ secrets.RELEASE_CHECKOUT }}

      - name: Release – Phase 1 – Internal
        uses: ./.github/actions/release-phase-1-internal
        with:
          major: 1
          minor: 7
          patch: 11
          github-token: ${{ secrets.GITHUB_TOKEN }}
          # Fine-grained Personal Access Token (PAT) with the following permissions for microsoft/PR-Metrics:
          # - Read access to Metadata
          # - Read and Write access to Code (aka Contents) and Workflows
          commit-token: ${{ secrets.RELEASE_COMMIT }}
          release-pr-create-token: ${{ secrets.RELEASE_PR_CREATE }}
