# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

---

name: Release – Phase 2

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/support/release-trigger.txt

permissions: {}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11  # v4.1.1

      - name: Install Node.js
        uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65  # v4.0.0
        with:
          node-version: 19.x

      - name: npm – Install Dependencies
        run: npm install

      - name: npm – Build
        run: npm run build:release

      - name: Release – Install TFX CLI
        run: npm install -g tfx-cli
        working-directory: ${{ github.workspace }}/release

      - name: Release – Create
        run: npx tfx-cli extension create --manifest-globs vss-extension.json --output-path ../ms-omex.PRMetrics.vsix
        working-directory: ${{ github.workspace }}/release

      - name: Release – Publish
        uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32  # v3.1.3
        with:
          name: ms-omex.PRMetrics
          path: ${{ github.workspace }}/ms-omex.PRMetrics.vsix

      - name: Get Version
        id: version
        shell: pwsh
        run: |-
          $Version = Get-Content -Path '.github/workflows/support/release-trigger.txt'
          Write-Output -InputObject "VERSION=v$Version" >> $Env:GITHUB_OUTPUT

      - name: GitHub Release
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844  # v0.1.15
        with:
          discussion_category_name: Releases
          files: ${{ github.workspace }}/ms-omex.PRMetrics.vsix
          generate_release_notes: true
          name: Release ${{ steps.version.outputs.VERSION }}
          tag_name: ${{ steps.version.outputs.VERSION }}
          # Fine-grained Personal Access Token (PAT) with the following permissions for microsoft/PR-Metrics:
          # - Read access to Metadata
          # - Read and Write access to Code (aka Contents) and Discussions
          token: ${{ secrets.RELEASE_PHASE_2_GITHUB_RELEASE }}

      - name: Publish Release
        uses: HaaLeo/publish-vscode-extension@dfe4f6ad46624424fe24cb5bca79839183399045  # v1.4.0
        with:
          # Fine-grained Azure DevOps Personal Access Token (PAT) with the Manage access to Marketplace permission.
          pat: ${{ secrets.RELEASE_PHASE_2_PUBLISH_RELEASE }}
          registryUrl: https://marketplace.visualstudio.com
          extensionFile: ${{ github.workspace }}/ms-omex.PRMetrics.vsix

...
