# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

---
name: Release – Phase 3

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/support/release-phase-3-trigger.txt
  workflow_dispatch: null

permissions: {}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: gh – Log Version
        run: gh --version

      - name: Install Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 20.17.0

      - name: npm – Install Dependencies
        run: npm ci

      - name: npm – Build
        run: npm run build:release

      - name: Release – Create
        run: npx tfx-cli extension create --manifest-globs vss-extension.json --output-path ../ms-omex.PRMetrics.vsix
        working-directory: ${{ github.workspace }}/release

      - name: Release – Publish
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: ms-omex.PRMetrics
          path: ${{ github.workspace }}/ms-omex.PRMetrics.vsix

      - name: Get Version
        id: version
        shell: pwsh
        run: |-
          $Version = Get-Content -Path '.github/workflows/support/release-phase-3-trigger.txt'
          Write-Output -InputObject "VERSION=v1.7.10-test4" >> $Env:GITHUB_OUTPUT

      - name: Generate Release Notes
        run: |
          gh api repos/${{ github.repository }}/releases/generate-notes \
            -f tag_name="${{ steps.version.outputs.VERSION }}" \
            -f target_commitish=${{ github.sha }} \
            --jq '.body' > release-notes.md
        env:
          # Fine-grained Personal Access Token (PAT) with the following permissions for microsoft/PR-Metrics:
          # - Read access to Metadata
          # - Read and Write access to Code (aka Contents) and Discussions
          GITHUB_TOKEN: ${{ secrets.RELEASE_PHASE_3_GITHUB_RELEASE }}

      - name: GitHub Release
        run: |
          gh release create "${{ steps.version.outputs.VERSION }}" \
            "${{ github.workspace }}/ms-omex.PRMetrics.vsix" \
            --title "Release ${{ steps.version.outputs.VERSION }}" \
            --target "${{ github.sha }}" \
            --notes-file release-notes.md \
            --discussion-category "Releases"
        env:
          # Fine-grained Personal Access Token (PAT) with the following permissions for microsoft/PR-Metrics:
          # - Read access to Metadata
          # - Read and Write access to Code (aka Contents) and Discussions
          GITHUB_TOKEN: ${{ secrets.RELEASE_PHASE_3_GITHUB_RELEASE }}
