# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

---
name: Release – Phase 1

on:
  schedule:
    - cron: 0 9 15 */3 * # Run every quarter on the 15th day.
  workflow_dispatch: null

permissions: {}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          token: ${{ secrets.PR_METRICS_TOKEN }}

      - name: Release – Phase 1 – Internal
        uses: ./.github/actions/release-phase-1-internal
        with:
          major: 1
          minor: 7
          patch: 11
          github-token: ${{ secrets.GITHUB_TOKEN }}
          pr-metrics-token: ${{ secrets.PR_METRICS_TOKEN }}
