# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

---

name: Release – Phase 2

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/support/release-trigger.txt
  workflow_dispatch: null

permissions: {}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11  # v4.1.1

      - name: Install Node.js
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8  # v4.0.2
        with:
          node-version: 21.x

      - name: npm – Install Dependencies
        run: npm install

      - name: npm – Build
        run: npm run build:release

      - name: Release – Install TFX CLI
        run: npm install -g tfx-cli
        working-directory: ${{ github.workspace }}/release

      - name: Release – Create
        run: npx tfx-cli extension create --manifest-globs vss-extension.json --output-path ../ms-omex.PRMetrics.vsix
        working-directory: ${{ github.workspace }}/release

      - name: Release – Publish
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3  # v4.3.1
        with:
          name: ms-omex.PRMetrics
          path: ${{ github.workspace }}/ms-omex.PRMetrics.vsix

      - name: Get Version
        id: version
        shell: pwsh
        run: |-
          $Version = Get-Content -Path '.github/workflows/support/release-trigger.txt'
          Write-Output -InputObject "VERSION=v$Version" >> $Env:GITHUB_OUTPUT

      - name: GitHub Release
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844  # v0.1.15
        with:
          discussion_category_name: Releases
          files: ${{ github.workspace }}/ms-omex.PRMetrics.vsix
          generate_release_notes: true
          name: Release ${{ steps.version.outputs.VERSION }}
          tag_name: ${{ steps.version.outputs.VERSION }}
          # Fine-grained Personal Access Token (PAT) with the following permissions for microsoft/PR-Metrics:
          # - Read access to Metadata
          # - Read and Write access to Code (aka Contents) and Discussions
          token: ${{ secrets.RELEASE_PHASE_2_GITHUB_RELEASE }}

      - name: Publish Release
        uses: HaaLeo/publish-vscode-extension@28e2d3f5817fccf23c1f219eb0cecc903132d1a2  # v1.6.2
        with:
          # Fine-grained Azure DevOps Personal Access Token (PAT) with the Manage access to Marketplace permission.
          pat: ${{ secrets.RELEASE_PHASE_2_PUBLISH_RELEASE }}
          registryUrl: https://marketplace.visualstudio.com
          extensionFile: ${{ github.workspace }}/ms-omex.PRMetrics.vsix

...
